@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");
body {
  font-family: "Questrial", sans-serif;
}

.img-responsive {
  max-width: 100%;
}

header {
  position: relative;
  box-shadow: 0px 5px 4px 0px rgb(63 63 63 / 27%);
  width: 100%;
  background-color: #fff;
}
aside {
  min-height: 100vh;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background-color: #c2185b;
}

.btn-primary {
  background-color: #c2185b;
  border-color: #c2185b;
}

main.login {
  width: 400px;
}

section.full {
  width: 100%;
  min-height: 80vh;
  padding: 50px 0;
}

article.evento {
  width: 350px;
}

footer nav ul {
  list-style: none;
  display: flex;
}

footer nav ul li {
  padding: 10px;
}

#fade-admin,
#modal-admin,
#fade-eventos,
#modal-eventos {
  transition: 0.5s;
  opacity: 1;
  pointer-events: all;
}

#fade-admin,
#fade-eventos {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 5;
}

#modal-admin,
#modal-eventos {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  z-index: 10;
  height: 80vh;
  width: 80vw;
  overflow: auto;
  padding: 1.2rem;
  border-radius: 0.5rem;
}

#modal-eventos {
  height: 70vh;
  width: 50vw;
}

#form-reservar {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
}

#form-reservar div {
  width: 80%;
}

#fade-admin.hide-admin,
#modal-admin.hide-admin,
#fade-eventos.hide-eventos,
#modal-eventos.hide-eventos {
  opacity: 0;
  pointer-events: none;
}

#modal-admin.hide-admin,
#modal-eventos.hide-eventos {
  top: 0;
}
